body{
    background-color: rgb(19, 81, 81);
    overflow: hidden;
    color: aliceblue;
 }

  .c-app{
    width: 100%;
    height: 620px;
    align-items: center;
    text-align: center;
    background-color: rgb(33, 81, 94);
    border-radius: 10px;
   }
   .content0{
     width: 450px;
     height: 550px;
     background-color: aqua;
     border-radius: 5px;
     margin: auto;
   }
   .btn0{
     width: 85px;
     height: 25px;
     background-color: aquamarine;
     position:absolute;
     left:30px;
     top: 30px;
   }