body{
    background-color: rgb(205, 223, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     overflow-x: hidden; 
}
#one{
    width: 100%;
    height: 650px;
    background-color: aliceblue;
    text-align: center;
}
h1{
    position: relative;
    top: 100px;
    font-size: 70px;   
}
#two{
    width: 100%;
    height: 150px;
    background-color: antiquewhite;    
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: aqua;
    position: relative;
    top: 20px;
    left: 120px;
}
#forh2{
    font-size: 15px;
    position: relative;
    left: 245px;
    top: -90px;
}
#forp{
    position: relative;
    left: 70%;
    top: -180px;
    width: 250px;
    display: flex;
    text-decoration: underline;
}
#forp > p:nth-child(1){
    margin-right: 20px;
}
#three{
    width: 100%;
    height: 1000px;
    background-color: aliceblue;
    margin-top: -150px;
    position: relative;
}
h3{
    font-size: 150px;
    margin-top: 150px;
    margin-left: 30%;
    color: rgba(97, 112, 145, 0.313);
}
.tre--p{
    position: relative;
    top: -235px;
    left: 38%;
    font-size: 30px;
}
.tre--p2{
    width: 750px;
    font-weight: 300;
    margin-left: 35%;
    margin-top: -220px;
}
#imgs{
    width: 100%;
    /* height: 350px; */
    background-color: rgba(22, 103, 103, 0.212);
    margin-top: 395px;
    display: flex;    
    justify-content: center;
}
.imgs-img{
    width: 260px;
    height: 250px;
    background-color: rgba(8, 106, 147, 0.639);
    margin: 10px;
    margin-top: 35px;
}
#four{
    width: 100%;
    height: 220px;
    background-color:antiquewhite;
    position: relative;
    top: -150px;
}
.h22{
    font-size: 170px;
    margin-left: 330px;
    margin-top:150px;
}
.four-p{
    position: relative;
    top: -273px;
    left: 35%;
    font-size: 40px;
}
.four-p2{
    width: 680px;
    position: relative;
    top: -380px;
    left: 45%;
}
#five{
    margin-top: -150px;
    width: 100%;
    height: 700px;
    background-color:rgba(127, 240, 255, 0.26) ;
}
nav{
    width: 98.4%;
    /* height: 20px; */
    padding: 10px;
    background-color: rgba(18, 208, 255, 0.689);
    display: flex;
    justify-content: center;
}
nav > div{
    background-color: rgba(100, 167, 249, 0.836);
    width: 150px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    margin: 0 10px;

    color: aliceblue;
}
.moun1{
    background-color: rgba(146, 192, 248, 0.692);
    text-decoration: underline;
}
h4{
    text-align: center;
    font-size: 30px;
}
#schedule{
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.573);
    position: relative;
    top: 120px;
    left: 50px;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    #one{
        height: 450px;
    }
    h1{
        font-size: 40px;
    }
    #two{
        height:120px ;
    }
    .circle{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: rgba(0, 255, 255, 0.676);
        position: relative;
        top: 10px;
        left: 50px;
    }
    #forh2{
        font-size: 7px;
        position: relative;
        left: 55px;
        top: 8px;
    }
    #forp{
        position: relative;
        left: 50%;
        top: -70px;
        width: 150px;
        display: flex;
    }
    #three{
        height: 670px;       
        margin-top: -150px;
        position: relative;
    }
    h3{
        font-size: 140px;
        margin-top: 150px;
        margin-left: 5%;
    }
    .tre--p{
        position: relative;
        top: -215px;
        left: 28.3%;
        font-size: 25px;
    }
    .tre--p2{
        width: 380px;
        font-weight: 300;
        margin-left: 3%;
        margin-top: -200px;
        font-size: 10px;
    }
    #imgs{
        width: 99.95%;
        display: flex;
        overflow: scroll;
        flex-wrap: nowrap;
        left: -23px;
        padding: 15px;
        box-sizing: border-box;
        justify-content: start;
        margin-top: 140px;        
    }
    .imgs-img{
        margin: 0 10px;
        flex: 1 auto; 
        height: 270px;
        /*background-color: rgba(8, 105, 147, 0.258);
        margin: 10px 10px;
        margin-top: 35px; */
    }
    #four{
         width: 100%;
        height: 170px;
        background-color:antiquewhite;
        position: relative;
        top: -160px;
    }


    
.h22{
    font-size: 170px;
    margin-left: 20px;
    margin-top:140px;
}
.four-p{
    position: relative;
    top: -273px;
    left: 30%;
    font-size: 40px;
}
.four-p2{
    width: 250px;
    position: relative;
    top: -400px;
    font-size: 10px;
    left: 35%;
}
#five{
    margin-top: -160px;
    width: 100%;
    height: 950px;
    background-color:rgba(127, 240, 255, 0.26) ;
}
nav{
    width: 95%;
    /* height: 20px; */
    padding: 10px;
    background-color: rgba(18, 208, 255, 0.689);
    display: flex;
    justify-content: center;
}
nav > div{
    background-color: rgba(100, 167, 249, 0.836);
    width: 150px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    margin: 0 10px;
    color: aliceblue;
}
.moun1{
    background-color: rgba(146, 192, 248, 0.692);
    text-decoration: underline;
}
h4{
    text-align: center;
    font-size: 30px;
}
#schedule{
    width: 330px;
    height: 400px;
    background-color: rgba(202, 231, 249, 0.87);
    position: relative;
    top: 90px;
    left: 30px;
    padding: 5px;
}
     

}
